.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  text-transform: uppercase;
  visibility: hidden;
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  min-height: 98px;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px #22d3ee, 0 0 10px #a855f7;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
  color: inherit;
}

@media only screen and (max-width: 1599px) {
  .shuffle-parent {
    font-size: 56px;
    min-height: 86px;
  }
}

@media only screen and (max-width: 1366px) {
  .shuffle-parent {
    font-size: 48px;
    min-height: 72px;
  }
}

@media only screen and (max-width: 1199px) {
  .shuffle-parent {
    font-size: 40px;
    min-height: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .shuffle-parent {
    font-size: 36px;
    min-height: 54px;
  }
}

@media only screen and (max-width: 767px) {
  .shuffle-parent {
    font-size: 32px;
    min-height: 48px;
  }
}

@media only screen and (max-width: 575px) {
  .shuffle-parent {
    font-size: 28px;
    min-height: 42px;
  }
}

@media only screen and (max-width: 479px) {
  .shuffle-parent {
    font-size: 24px;
    min-height: 36px;
  }
}
